body {
  background-color: black;
  margin: 0;
}
body * {
  outline-width: 0;
}

.shell {
  display: grid;
  max-width: 350px;
  margin: auto;
  grid-template-columns: repeat(7, 1fr);
  grid-auto-rows: minmax(0px, auto);
}
.shell .array {
  min-height: 30px;
  margin: 5px 0px 0px 10px;
  color: white;
  font-size: 20px;
  overflow: hidden;
  grid-column: 1 / 8;
  grid-row: 1;
}
.shell .array-btn {
  grid-column: 1 / 8;
  grid-row: 2;
}
.shell #textBox {
  background-color: black;
  color: white;
  padding: 10px;
  border-style: solid;
  border-radius: 30px;
  border-color: orange;
}
.shell .border {
  padding: 0px;
  border-style: solid;
  border-color: orange;
  border-radius: 30px;
  border-width: 2px;
  grid-column: 1 / 8;
  grid-row: 1 / 3;
  overflow: hidden;
}
.shell .form {
  grid-column: 1 / 8;
  grid-row: 3;
  margin: auto;
}
.shell .checkbox {
  grid-column: 1 / 8;
  grid-row: 4;
  margin: auto;
  color: orange;
  margin-top: -18px;
}
.shell .main-btn {
  grid-column: 1 / 8;
  grid-row: 5;
  margin: auto;
}
.shell #output {
  grid-column: 1 / 8;
  grid-row: 6;
  margin: auto;
}

#output {
  color: blue;
  font-size: 60px;
}
.btn-big {
  background-color: black;
  cursor: pointer;
  font-size: 30px;
  color: orange;
  padding: 10px;
  border-style: solid;
  border-color: orange;
  border-radius: 30px;
  border-width: 2px;
}
.btn-big:hover {
  background-color: orange;
  color: black;
}

.controls {
  background-color: black;
  border: none;
  color: orange;
  font-size: 30px;
}
.controls:hover {
  text-shadow: 0px 0px 10px white;
}

.collapse {
  white-space: nowrap;
}

.expand {
  white-space: normal;
}

.btn-transp {
  background: none;
  border: none;
  background-color: none;
  color: orange;
  width: 100%;
  margin: auto;
  font-size: 20px;
  margin: 0px;
  text-shadow: 0px 0px 10px black;
}
.btn-transp:hover {
  transition: 0.4s;
  background-color: rgba(100, 100, 0, 0.5);
}
